<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">
    <select id="viewFile" resultType="web.FileWeb">
        SELECT * FROM webhard
    </select>

    <select id="selectFileById" parameterType="int" resultType="web.FileWeb">
        SELECT * FROM webhard WHERE num = #{num}
    </select>
    
	<insert id="InsertWebhard" parameterType="web.FileWeb">
	insert into webhard (fname, ftime, fsize)
	VALUES (#{fname}, #{ftime}, #{fsize})
	</insert>

    
    <update id="updateWebhard" parameterType="int">
        UPDATE cart
        SET quantity = quantity + 1 
        WHERE product_id = #{product_id}
    </update>

    <delete id="deleteWebhard" parameterType="int">
        DELETE FROM webhard WHERE num = #{num}
    </delete>
</mapper>