<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<select id ="getNumRecords" resultType="int">
	select count(*) from board
	</select>

    <select id="selectAllProducts" resultType="com.board.db.BoardDto">
        SELECT * FROM board
    </select>
    <select id="selectList" resultType = "com.board.db.BoardDto">
    select * from board order by num desc limit #{start}, #{listSize}
    </select>
    
    <update id="updateHits" parameterType="int" >
    update board set hits=hits+1 where num= #{num}
    </update>

    <select id="selectOne" parameterType="int" resultType="com.board.db.BoardDto">
        SELECT * FROM board WHERE num = #{num}
    </select>
   

    <insert id="insertOne" parameterType="com.board.db.BoardDto">
        insert into board (writer, title, content, regtime,hits)
	VALUES (#{writer}, #{title}, #{content}, NOW(),0)
    </insert>

    <update id="updateOne" parameterType="com.board.db.BoardDto">
        UPDATE board
        SET writer = #{writer}, title = #{title}, content = #{content},
        regtime = NOW()
        where num = #{num}
    </update>

    <delete id="deleteOne" parameterType="int">
        DELETE FROM board WHERE num = #{num}
    </delete>
</mapper>